@tailwind base;
@tailwind components;
@tailwind utilities;

.w-md-editor-text {
  height: 100%;
}

.radix-themes {
  --default-font-family: var(--font-inter);
}

:root {
  --toastify-toast-width: 360px;
}